doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Shopping • shoes
    // Material Design Icons
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='css/mdb.css', rel='stylesheet')
    // Material Design Bootstrap
  body
    // Navigation
    nav.navbar.blue.navbar-fixed-top.z-depth-1(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.waves-effect.waves-light(href='/') Shoping • Shoes
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            //li
              a.waves-effect.waves-light(href='#') Link
            //li
              a.waves-effect.waves-light(href='#') Link
            //li.dropdown
              a.dropdown-toggle.waves-effect.waves-light(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Menú 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/menu') Ver productos
                li
                  a(href='#') Carrito de compras.
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-right(role='search')
            .form-group.waves-effect.waves-light
              input.form-control(type='text', placeholder='Buscador')
    // /.Navigation
    // Carousel
    #main-carousel.carousel.slide.carousel-fade.carousel-bg(data-interval='false')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#main-carousel', data-slide-to='0')
        li(data-target='#main-carousel', data-slide-to='1')
        li(data-target='#main-carousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        // First slide
        .item.active
          // Video
          .homepage-hero-module
            video.fillWidth(autoplay='', loop='', muted, width="1366", height="768")
              source(src='http://res.cloudinary.com/djrzn6cxw/video/upload/v1454871546/video_online-video-cutter.com_2_zbfdhe.mp4')
              | Your browser does not support the video tag. I suggest you upgrade your browser.
          // /.Video
          // Caption
          .carousel-caption
            .verticalcenter
              .animated.fadeInDown
                h4 Shoping Shoes
                h5 La mejor calidad en calzado.
                a.btn.btn-default.btn-stc.waves-effect.waves-light(href='/login')
                  i.fa.fa-user.right
                  | Iniciar sesión
                a.btn.btn-primary.btn-etc.waves-effect.waves-light(href='/signup')
                  i.fa.fa-user-plus.right
                  | Registrarse
                  
    script(type='text/javascript', src='js/jquery.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='js/bootstrap.min.js')
    // Material Design Bootstrap
    script(type='text/javascript', src='js/mdb.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script.
      window.onload=function(){alert('Recuerda inicar sesioón para ver el catalo de productos');}