doctype html
html(lang="en")
	head
		title Shoping Shoes
		meta(charset="utf-8")
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(href='css/animate.css' rel='stylesheet' type='text/css')
	body
		nav(class="large-padding fondo-gris")
			ul(class="no-list mediano")
				li(class="pacifico col-md-3 inline-block")
						a(href="/" class="green") Shoping Shoes #[small(class="lato small") ]

				li(class="col-md-1 inline-block")
					a(href="/") Menú

				li(class="col-md-1 inline-block")
					a(href="/admin") Productos

				li(class="col-md-1 inline-block")
					a(href="/menu/new") Nuevo

		block contenido