<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Shoppin shoes • Authentication</title>
    
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    
    
  </head>
  <body>
    
    <div class="panel">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-user"></span> Iniciar Sesión</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control", pattern="[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}", name="email", class="inpt", required="required">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="password" required="required">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>
</div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/login.js"></script>
    
    
    
  </body>
</html>