html,body{
	height: 100%;
	font-family: 'Lato', sans-serif;
}
.full-height{
	height: 100%;
}
.lato{
	font-family: 'Lato', sans-serif;	
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.big{
	font-size: 4em;
}
.small{
	font-size: 12px;
}
img{
	max-width: 100%;
}
.no-float{
	float: none !important;
}
.top-space{
	margin-top: 100px;
}
.tope{
	vertical-align: top;
}
.green{
	color: #00887C;
}
.right-space{
	margin-right: 1em;
}
.large-padding{
	padding: 5px 10px;
}
.fondo-gris{
	background-color: #eee;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.mediano{
	font-size: 1.3em;
}
.menu img{
	margin: 20px 0px;
}
a,.blue{
	color: #009FFF;
}
.delay-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.delay-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.no-list{
	margin: 0px;
	padding: 0px;
}
.no-list li{
	list-style-type: none;
}

