@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h1 {
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #dadada;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 5px;
  text-transform: uppercase;
}

h4 {
  padding: 18px 24px;
  font-size: 22px;
  text-align: center;
  color: #ff5722;
  border-bottom: 1px solid #dadada;
  font-family: 'Pacifico', cursive;
}

html,
body {
  min-width: 786px;
  font-family: 'Open Sans';
  color: #212121;
  background-color: #f2f2f2;
}

.goods {
  position: absolute;
  width: 67.5%;
  min-width: 385px;
  height: 89%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0px, 0);
}

#product {
  width: 21%;
  border-top: 5px solid #ff5722;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin: 2.1%;
  float: left;
}

span.info {
  position: relative;
  display: block;
  border-bottom: 1px solid #dadada;
}

.goods img {
  width: 100%;
}

#product button {
  width: 100%;
  height: 48px;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #727272;
  text-transform: uppercase;
  cursor: pointer;
}

#product button:hover {
  color: #212121;
  background-color: rgba(239, 239, 239, 0.23);
}

#product button:active {
  color: #ff5722;
}

span.text {
  position: absolute;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  top: 0;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
}

.description {
  height: calc(100% - 100px);
  padding-bottom: 20px !important;
  font-size: 12px;
  line-height: 17px;
}

.info p {
  padding-bottom: 10px;
  font-size: 12px;
}

#info:hover #text {
  opacity: 1;
}

ul {
  position: absolute;
}

input[type="radio"] {
  display: none;
}

ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

li#color_one {
  background-color: #f2f2f2;
}

li#color_two {
  background-color: #727272;
}

li#color_three {
  background-color: #ff5a26;
}

li#color_four {
  background-color: #52d8b4;
}

span#price {
  float: right;
  font-weight: 600;
  font-size: 14px;
  color: #ff5a26;
}

.cart {
  position: fixed;
  width: 20%;
  height: 100%;
  min-width: 350px;
  right: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #ffF;
  transform: translate(400px, 0px)
}

#all {
  height: calc(100% - 152px);
  overflow-x: hidden;
}

.item {
  position: relative;
  padding: 11px 24px;
  font-size: 14px;
  font-weight: 600;
  color: #727272;
  border-bottom: 1px solid #dadada;
  transform: translate(400px, 0px);
}

.price {
  color: #ff5a26;
}

.del {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 24px;
  display: block;
  cursor: pointer;
  background: url('data:image/svg+xml,%3Csvg%20version=%221.1%22%20id=%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%0A%09%20viewBox=%22-285%20408.9%2024%2024%22%20enable-background=%22new%20-285%20408.9%2020%2020%22%20xml:space=%22preserve%22%3E%0A%3Cpath%20fill=%22#7D7D7D%22%20d=%22M-266,412.9h-3.5l-1-1h-5l-1,1h-3.5v2h14%20M-279,427.9c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2v-12h-12V427.9z%22/%3E%0A%3C/svg%3E%0A');
}

.del:hover {
  background: url('data:image/svg+xml,%3Csvg%20version=%221.1%22%20id=%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%0A%09%20viewBox=%22-285%20408.9%2024%2024%22%20enable-background=%22new%20-285%20408.9%2020%2020%22%20xml:space=%22preserve%22%3E%0A%3Cpath%20fill=%22#212121%22%20d=%22M-266,412.9h-3.5l-1-1h-5l-1,1h-3.5v2h14%20M-279,427.9c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2v-12h-12V427.9z%22/%3E%0A%3C/svg%3E%0A');
}

.total {
  height: 26px;
  padding: 11px 24px;
  border-bottom: 1px solid #dadada;
}

.total h2 {
  position: absolute;
}

.right {
  padding: 3px 0 0 0;
  float: right;
  font-weight: 600;
}

#cart button {
  width: 100%;
  height: 48px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(255, 90, 38);
}

#cart button:hover {
  color: #212121;
  background-color: rgba(239, 239, 239, 0.23);
}

@media screen and (max-width: 1320px) {
  #product {
    width: 44.6%;
  }
  .cart {
    width: 24.5%;
    min-width: 260px;
  }
  @media screen and (max-width: 1048px) {
    .goods {
      width: 50%;
    }
    #product {
      width: 94.6%;
    }
    .cart {
      width: 24.5%;
      min-width: 260px;
    }