doctype html
html
  head
    meta(charset='UTF-8')
    title Shopping Car
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/product.css')
  body
    h4
      | Shopping Shoes
    #goods.goods
    each product in products
      #product.product
        span#info.info
          #index
            img#pic(src="#{ product.imageUrl }", alt='Picture')
          span#text.text
            h2#name=product.title
            p.description=product.description
            h3 Colors
            ul
              li#color_one
              li#color_two
              li#color_three
              li#color_four
            span#price=product.pricing
              | $
              span#num=product.pricing 
        button Añadir a carro
    #cart.cart
      h1 Shopping Car
      #all
      .total
        h2 Total:
        span.right.price
          | $
          span#total
      button Comprar

    script(src='js/products.js')